@import '../../roots.scss';

.wrap-releases{
    display: flex;
    justify-content: center;
    padding-bottom: 84px;
    margin-right: 24px;
    .navigation-block{
        display: flex;
        flex-direction: column;
        margin: 12px 24px;
        h3{
            font-size: 18px;
            font-weight: 400;
            padding: 12px 0px;
            a{
                color: #000;
            }
        }
        a{
            font-size: 600;
            text-decoration: none;
            color: #00000095;
            transition: .1s ease-in-out;
            padding: 3px 0px;
            &:hover{
                color: #00000050;
            }
        }
    }
    .wrap-child-block-navigation{
        display: flex;
        flex-direction: column;
    }
}