@import '../../../roots.scss';

#wrap-banner{
    margin: var(--page-margin);
    #wrap-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        h3{
            font-size: var(--size-title-big);
            font-weight: 400;
        }
        a{
            text-decoration: none;
            color:#000;
            font-size: var(--size-title-sub);
        }
    }
    #banner-background{
        img{
            width: 100%;
        }
    }
}